@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
    background: #44c04d;
}

.wrapper{
    width: 400px;
    background: white;
    border-radius: 5px;
}

.title{
    padding: 10px 20px;

}

.remove-all{
    margin: 10px 20px;
    border: none;
    outline: none;
    color: white;
    padding: 5px 10px;
    background: #44c04d;
    border-radius: 5px;
    font-size: 14px;
}

.content{
    padding: 10px;
    border: 1px solid #959595;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px;
    border-radius: 5px;
}

.content li{
    background: #44c04d;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    list-style-type: none;
    font-size: 14px;
    margin: 5px;
}

.content li i{
    padding: 0 10px;
    vertical-align: middle;

}

.content input{
    padding: 5px 10px;
    /* margin: 10px 0 0 0; */
    border: none;
}

.content input:focus{
    outline: none;
    border: none;
}