* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to right, #4daf54, #3d8880);
}

.search-box{
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    transition: 0.5s;
    position: relative;
    
}

.search-box.open{
    width: 420px;
}

.search-btn{
    padding: 20px;
    font-size: 30px;
    outline: none;
    border: none;
    color: #242628;
    position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

.search-input{
    width: 100%;
    border: none;
    background-color: #242628;
    color: white;
    font-size: 24px;
    padding: 0 20px;
}